
#mealsHolder{
    display: flex;
    flex-wrap: wrap;
}
.mealImage{
    width: 300px;
    margin: 5px;
    border-radius: 20px;
}
#popup{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;

}
#innerPopup{
    margin-top:20px;
    width: 50%;
    height: auto;
    background-color:white;
    padding:10px;
}

#cocktail{
    color: red;
    font-weight: bold;

}